:root {
  --yellow: #ffc600;
  --blue: rgba(25, 53, 73, 1.00);
  --pink: #ff0088;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

.wrap {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
  background: var(--blue);
  padding: 3%;
}

.wrap > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.text {
  font-size: 20px;
  color: #ffc600;
  font-size: 40px;
}

video {
  border-radius: 20px;
  height: 100%;
  max-width: 100%;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  border: 0.5px solid rgba(255,255,255,0.2);
  pointer-events: none;
  height: auto;
  max-height: 100vh;
  transform: scaleX(-1);
}

.video {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

.camera {
  color: white;
  font-size: 10px;
  transition: transform 0.1s;
  position: relative;
  /* grid-column: 1 / -1;
  grid-row: 1 / -1;
  opacity: 0.2; */
}


button {
  background: var(--pink);
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

button:focus {
  border-color: var(--yellow);
  outline: 0;
}
button:hover {
  transform: scale(1.1)
}

.cred {
  color: white;
  grid-row: 2;
  font-size: 10px;
}

a {
  color: var(--yellow);
}
